<p>ユーザ一覧</p>
<% @users.each do |user| %>
    <p>
        <%= user.uid %>
        <%= user.pass %>
        <%= link_to '削除', "/users/#{user.id}", method: :delete%>
    </p>
<% end %><hr>
<p><%= link_to '新規追加', new_user_path %></p>